nav{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.navbar-brand span{
  font-size: 150%;
  font-weight: 600;
  font-family: 'East Sea Dokdo', cursive;
  color: #6c757d;
}

.Navbar-toggler{
  background-color: transparent;
  border-width: 0px;
  font-size: 70%;
}

.navbar-toggler-icon{
  font-size: 150%;
  font-weight: 900;
}

.Navbar-nav{
  padding-left: 0px;
  padding-bottom: 0px;
  list-style: none;: ;
}

.Navbar-nav a{
  color: white;
}

@media screen and (max-width: 768px){
  .Navbar{
    margin-top: 5px;
    background-color: gray;
    opacity: 0.3;
    overflow: hidden;
    height: 0px;
    -webkit-transition: height 0.3s; 
    -moz-transition: height 0.3s; 
    -ms-transition: height 0.3s; 
    -o-transition: height 0.3s; 
    transition: height 0.3s;
  }
  
  .Navbar-nav{
    opacity: 1.0;
  }
}
  
@media screen and (min-width: 768px){
  .Navbar-toggler{
    display: none;
  }
  .Navbar-nav{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    top: px;
  }
}

.Navbar-expand{
  display: ;
  height: 120px;
}